
<footer>
    <p class="footer">&copy; Mike Yamauchi | NodeJS | SSD 2022</p>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/faq">Faq</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/terms-of-service">Terms of Service</a></li>
    </ul>
</footer>