<section class="header">
    <%if (reqInfo.authenticated) { %>
        <a href="/">Home</a> 
        <a href="/user/profiles">View All Profiles</a> 
        <a href="/user/profile/">My Profile</a> 
        <a href='/user/logout'>Logout</a> <%= reqInfo.firstName %>

    <% } %>
</section>
