

<section class="header">
    <%if (reqInfo.authenticated) { %>
        <a href="/user/home">Home</a> 
        <a href="/user/profiles">View All Profiles</a> 
        <a href="/user/profile/">My Profile</a> 
        <a href='/user/logout'>Logout</a> <%= reqInfo.firstName %>

    <% } %>

<!-- 
        <a href="/user/login">Log In</a> 
        <a href="/user/register/">Register</a>  -->

</section>
