<h1>About</h1>
<p>This site is educationally based by Mike Yamauchi.</p>
<p>Features of this site may change at any point, as long as I'm working on it</p>
<p>This is a main portfolio piece demonstrating NodeJS and NOSQL databases using MongoDB</p>
<p>Thank you for taking the time to use this site!</p>