<h1>Log in</h1>

<form action="/user/login" method="POST" class="login-form">   
    <table>
        <tr>
            <td>User Name: </td>
            <td><input name="username" type="text"
                       value="<%= user.username ? user.username : '' %>"></td>
        </tr>  
        <tr>
            <td>Password: </td>
            <td><input name="password" type="password"></td>
        </tr> 
        <tr>
            <td></td>
            <td> <input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>

<div class="error">
<%= errorMessage ? errorMessage : "" %><br/>
</div>
<div class="not-a-user">
    <p>Not a User? <a href='/user/register'>Register</a></p>
</div>

