<p>
   this is the test area.
</p>

<form action="/secure/hello" method="POST">   
    <label for="favouriteColour">Enter Favourite Color:</label>
    <input type="color" name="favouriteColour" value="<%= reqInfo.colour ? reqInfo.colour: '#ffffff' %>">
    <br/>
    <input type="submit" value="Submit">
</form>
