<h1 class="all-profiles-main-header">Profiles</h1>
<div>
  <ul>
    <% for (let i = 0; i < profiles.length; i++ ) {%>
    <li>
      <a href="/user/profile/<%= profiles[i].username %>"><%= profiles[i].firstName %></a>
  
      <% if(reqInfo.roles?.includes("Admin")) { %>
        | <a href="/user/<%= profiles[i].username %>/delete"><button>Delete</button></a>
      <% } %>
    </li>
    <% } %>
  </ul>
  </div>
<div class="error">
<%= errorMessage %>
</div>

