/* Layouts */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */

body {
    max-width: 100rem;
    margin: 0 auto;
    background-color: rgb(250, 250, 230);
}

.container {
    min-height: 80rem;
}

/* Partials */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
.header {
    margin: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.header a{
    font-size: 1.5rem;
    margin: 0 1rem;
    padding: 1rem;
    border-bottom: 0.125em solid black;
    border-top: 0.125em solid black;
    text-decoration: none;
}

.header a:hover,
.header a:active,
.header a:focus {
    background-color: rgb(225, 224, 224);
    border-top: none;
    border-bottom: none;
    border-left: 0.125em solid black;;
    border-right: 0.125em solid black;;
}

.toggle-display {
    display: none;
}


.footer {
    text-align: center;
}

/* Typogrophy
------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
/* Log In
-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.login-form {
    max-width: 20rem;
    margin: 0 auto;
}

.not-a-user {
    text-align: center;
}

/* Register */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
.register {
    max-width: 25rem;
    margin: 0 auto;
}


/* All Profiles
---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.all-profiles-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;   
    text-align: center;
    margin: 2rem;
}

/* Error Handling */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */

.error {
    text-align: center;
    color: red;
}
