/* Colours 
background: #fefbe9
logo: #f9c453
nav links: #183a1d
nav hover-background: #e1eedd
footer background #e1eedd
typogrophy: #f0a04b
*/

/* Variable Declarations
------------------------------------------------------------------------------------------------------------------------------------ */
:root {
    --mainBackground: #262022;
    --mainLinks:  #FF5E91;
    --headerFooterBg: #1C1418;
    --headerColor: #FF5E91;
    --textColor: #ffffff;
    --error: #ff0000;
}

/* Layouts
------------------------------------------------------------------------------------------------------------------------------------ */

body {
    margin: 0 auto;
    background-color: var(--mainBackground);
}

/* Typogrophy
------------------------------------------------------------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { 
    text-align: center;
    color: var(--headerColor);
}

p, td {
    color: var(--textColor);
}

a, a:visited {
    color: var(--mainLinks);
}

/* Partials 
------------------------------------------------------------------------------------------------------------------------------------*/

/* Header 
---------------------------------------------*/
header {
    /* margin-top: -1rem; */
    color: var(--mainLinks);
    background-color: var(--headerFooterBg);

}               

header a:visited {
    color: var(--mainLinks);
}

@media (min-width: 600px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    nav ul{
        margin: 1rem;
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    nav li {
        margin: 3rem 0;

    }

    nav a{
        font-size: 1.5rem;
        margin: 0 1rem;
        padding: 1rem;
        border-bottom: 0.125em solid var(--textColor);
        border-top: 0.125em solid var(--textColor);
        text-decoration: none;
    }

    nav a:hover,
    nav a:active,
    nav a:focus {
        border-top: none;
        border-bottom: none;
        border-left: 0.125em solid var(--textColor);
        border-right: 0.125em solid var(--textColor);
    }
}

.toggle-display {
    display: none;
}
/* Footer 
---------------------------------------------*/
footer {
    text-align: center;
    background-color: var(--headerFooterBg);
}

footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

footer li {
    margin: 1.5rem;
}

footer a {
    padding: .5rem;
    color: var(--mainLinks);
}

footer a:visited {
    color: var(--mainLinks);
}



/* Log In
------------------------------------------------------------------------------------------------------------------------------------ */
.login-form {
    max-width: 20rem;
    margin: 0 auto;
}

.not-a-user {
    text-align: center;
}

/* Register
------------------------------------------------------------------------------------------------------------------------------------ */
.register {
    max-width: 25rem;
    margin: 0 auto;
}

/* Post Timeline
------------------------------------------------------------------------------------------------------------------------------------ */
.post-timeline {
    padding: 0;
    list-style: none;
    max-width: 10rem;
    margin: 0 auto;
}

.post-timeline li {
    padding: 1rem 0;
    border-bottom: 1px black solid;
}
.post-timeline img {
    max-width: 10rem;
}
.global-images {
    max-width: 10rem;
}
/* All Profiles
------------------------------------------------------------------------------------------------------------------------------------ */
.all-profiles-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;   
    text-align: center;
    margin: 2rem;
}

/* Error Handling
------------------------------------------------------------------------------------------------------------------------------------ */

.error {
    text-align: center;
    color: var(--error);
}
