/* Partials */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
.header {
    margin: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.header a{
    font-size: 1.5rem;
    margin: 0 1rem;
    padding: 1rem;
    border-bottom: 0.125em solid black;
    border-top: 0.125em solid black;

}
.footer {
    text-align: center;
}

/* Typogrophy
------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
h1 {
    color: blue;
}
/* Log In
-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.login-form {
    max-width: 20rem;
    margin: 0 auto;
}
/* All Profiles
---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.all-profiles-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;   
    text-align: center;
}

